/*index.html*/
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor .header {
    background-color: pink;
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contenedor .menu{
    color: #a9d84c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column: span 3;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


a:hover{
    color: white;
    background-color: #c7eb7f;}


.contenedor .inicio{
    grid-column: 2 / 3;
    text-align: center;
}

.contenedor .sidebar{
    text-align: end;
}
@media screen and(min-width:320px) {
    grid-template-columns: repeat(1);
    grid-template-rows: repeat (4);
}

/*productos*/
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

@media screen and(min-width:320px) {
    grid-template-columns: repeat(1,1fr);
}
/*comohacertupedido*/
.pasos {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #a9d84c;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1 / 4;
}
@media screen and(min-width:320px) {
    grid-template-columns: repeat(1,5);
}
/*detrasdefango*/

.icono {
    display: grid;
    grid-template-columns: 3;
    display: inline-block;
    animation: move 2s ease-in-out infinite;
}

@media screen and(min-width:320px) {
    grid-template-columns: repeat(1,4);
}

@keyframes move {
    0%{
        transform: scale(.75);
    }
    100%{
        transform: scale(1);
    }
}


   